<ion-header mode="ios">
  <!-- <ion-toolbar [hidden]="headerHidden" class="animated fadeInDown" *ngIf="haveLocation"> -->
  <ion-toolbar>
    <div class="deliveryAddress">
      <img src="assets/pin.png" alt="" class="pin" (click)="changeLocation()">
      <p class="address" (click)="changeLocation()">{{util.cityAddress}}</p>

      <div class="userPhoto" [style.backgroundImage]="'url('+ profile +')'" *ngIf="profile"></div>
      <div class="userPhoto" [style.backgroundImage]="'url(assets/user.png)'" *ngIf="!profile"></div>
    </div>


    <div class="div_searchbar">
      <ion-searchbar animated="true" mode="ios" [placeholder]="('Buscar comercios') || '&nbsp;'"
        (ionFocus)="onFocusEvent(this)" (ionBlur)="onBlurEvent(this)" [debounce]="250" class="search_bar"></ion-searchbar>
    </div>



  </ion-toolbar>
</ion-header>


<ion-content [scrollEvents]="true" >


  <ion-grid class="card-background-page">
    <ion-row >
      <ion-col >
       <ion-card (click)="comida()">
         <img src="assets/imgs/comida.png">
         <div class="card-title"></div>

       </ion-card>
      </ion-col >
      <ion-col > 
       <ion-card (click)="bebidas()">
        <img src="assets/imgs/bebidas.png">
        <div class="card-title"></div>

       </ion-card>
      </ion-col>
  
    
    </ion-row>
  </ion-grid>



  <ion-grid class="card-background-page column">
    <ion-row >
      <ion-col >
       <ion-card (click)="cafeypan()">
         <img src="assets/imgs/cafeypan.png">
         <div class="card-title"></div>

       </ion-card>
      </ion-col >
      <ion-col > 
       <ion-card (click)="supermercado()">
        <img src="assets/imgs/supermercado.png">
        <div class="card-title"></div>

       </ion-card>
      </ion-col>
     
    </ion-row>
  </ion-grid>
  <ion-grid class="card-background-page column">
    <ion-row >
      <ion-col >
       <ion-card (click)="salud()">
         <img src="assets/imgs/salud.png">
         <div class="card-title"></div>

       </ion-card>
      </ion-col >
      <ion-col > 
       <ion-card (click)="hogaryferreteria()">
        <img src="assets/imgs/hogaryferreteria.png">
        <div class="card-title"></div>

       </ion-card>
      </ion-col>
     
    </ion-row>
  </ion-grid>

  <ion-grid class="card-background-page column">
    <ion-row >
      <ion-col >
       <ion-card (click)="conveniencia()">
         <img src="assets/imgs/conveniencia.png">
         <div class="card-title"></div>

       </ion-card>
      </ion-col >

     
    </ion-row>
  </ion-grid>



  <div class="usernane">
    Promociones para ti 
    <ion-label class="color">{{getName()}}</ion-label>
  </div>

  
  <div class="main_content_div">

    <ion-slides [options]="slideOpts" *ngIf="banners?.length && allRest?.length">
      <ion-slide *ngFor="let item of banners" (click)="openOffers(item)">
        <div class="back_image" [style.backgroundImage]="'url('+api.mediaURL+ item.banner+')'"></div>
      </ion-slide>
    </ion-slides>
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let item of dummyBanners">
        <ion-skeleton-text animated style="width: 100%;height: 100px;margin-left: 10px;border-radius: 5px;">
        </ion-skeleton-text>
      </ion-slide>
    </ion-slides>
  </div>



</ion-content>